<% if @message %>
  <h2 style=color:red><%= @message %></h2>
<% end %>

<% if session[:user] %>
  Logged in as: <a href="/profile"><%= @user.username %></a>
<% end %>

<h2><a href="<%= @particular_post.external_url %>"><%= @particular_post.title %></a></h2>
</br>

  <form method=post action=/comment>
    <textarea placeholder="comments" name="comment"></textarea></br>
    <input type=hidden name="post_id" value="<%= @particular_post.id %>">
    <input type=submit value="Add Comment">
  </form>
</br>

<table border=1>
    <tr>
      <td>Vote</td>
      <td>Point</td>
      <td>Doint</td>
      <td>Comment</td>
      <td>User</td>
      <% @particular_post.comments.each do |c| %>
  <tr>

    <td>
        <% if !session[:user].nil? && c.commentvotes.where(user_id: session[:user].id).empty? %>
        <form method=post action=/commentvote style=display:inline>
          <input id="commentid" type=hidden name="comment_id" value="<%= c.id %>">
          <input id="cupvote" type=submit name=value value="+">
          <input id="cdownvote" type=submit name=value value="-">
        </form>
        <% end %>
      </td>
    <td><%= c.commentvotes.where(value: 1).count %></td>
    <td><%= c.commentvotes.where(value: -1).count %></td>
    <td><%= c.content %></td>
    <td><%= c.user.username %></td>
  </tr>
    <% end %>
</table>

<div>
  <form method=post action=/logout style=display:inline>
    <input type=submit value="Logout">
  </form>


  <form method=get action=/ style=display:inline>
    <input type=submit value="Home">
  </form>
</div>